Repository geehexx/mcp-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: ls-lint, validate-initiatives, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

ls-lint:
  name: 📁 files · Validate naming conventions (ls-lint)
  entry: npx @ls-lint/ls-lint
  language: system
  pass_filenames: false
  always_run: false

validate-initiatives:
  name: 📋 initiatives · Validate initiative files
  entry: uv run python scripts/validate_initiatives.py
  language: system
  pass_filenames: false
  args:
  - --ci

validate-task-format:
  name: 📋 tasks · Validate task format in documentation
  entry: uv run python scripts/hooks/validate_task_format_hook.py
  language: system
  args:
  - --skip-non-md

validate-rules-frontmatter:
  name: 📋 rules · Validate Windsurf rules front-matter
  entry: uv run python scripts/validate_rules_frontmatter.py
  language: system
  pass_filenames: false

update-machine-readable-docs:
  name: 📚 docs · Update machine-readable documentation
  entry: uv run python scripts/update_machine_readable_docs.py
  language: system
  pass_filenames: false

perf(workflows): optimize Batches 3-4 remaining workflows (5)
  .windsurf/workflows/meta-analysis.md
  .windsurf/workflows/plan.md
  .windsurf/workflows/update-docs.md
  .windsurf/workflows/work-routing.md
  .windsurf/workflows/work-session-protocol.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(initiative): mark workflow-optimization-phase-2 complete
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
Due: ls-lint, validate-initiatives

chore(docs): archive workflow-optimization-phase-2 initiative
  docs/initiatives/README.md
  docs/initiatives/completed/workflow-optimization-phase-2/CONTINUATION-PROMPT.md
  docs/initiatives/completed/workflow-optimization-phase-2/SESSION-SUMMARY-2025-10-21.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/RESTORATION_INTEGRATION_REPORT.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/RESTORATION_PROTOCOL.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-framework-integration.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-implementation-spec.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-research.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-test-report.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase1-research/intelligent-compression-v2.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase1-research/intelligent-optimization-methodology.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase1-research/phase1-completion-summary.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase1-research/phase2-failure-analysis.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase2-poc/bump-version-intelligent.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase2-poc/bump-version-original.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase2-poc/mechanical-vs-intelligent-comparison.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase2-poc/poc-optimization-results.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase2-poc/poc-results.md
  docs/initiatives/completed/workflow-optimization-phase-2/artifacts/phase2-poc/semantic-validation-report.md
  docs/initiatives/completed/workflow-optimization-phase-2/initiative.md
  docs/initiatives/completed/workflow-optimization-phase-2/phases/phase-1-foundation.md
  docs/initiatives/completed/workflow-optimization-phase-2/phases/phase-2-batch-optimization.md
Due: ls-lint, validate-initiatives

docs(session): add 2025-10-21 Phase 2 completion session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase-2-completion.md
Due: ls-lint

chore: clean up archived initiative artifacts and update benchmarks
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/workflows/improve-prompt.md
  .windsurf/workflows/improve-workflow.md
  docs/archive/session-summaries/2025-10-21-meta-optimization-breakthrough.md
  docs/archive/session-summaries/2025-10-21-workflow-optimization-intelligent-methodology.md
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase-2-plan.md
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase2-completion.md
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase2-sessions1-2.md
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase2-tier1-complete.md
  docs/initiatives/active/workflow-optimization-phase-2/CONTINUATION-PROMPT.md
  docs/initiatives/active/workflow-optimization-phase-2/SESSION-SUMMARY-2025-10-21.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/RESTORATION_INTEGRATION_REPORT.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/RESTORATION_PROTOCOL.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-framework-integration.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-implementation-spec.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-research.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-test-report.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/intelligent-compression-v2.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/intelligent-optimization-methodology.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/phase1-completion-summary.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/phase2-failure-analysis.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/bump-version-intelligent.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/bump-version-original.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/mechanical-vs-intelligent-comparison.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/poc-optimization-results.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/poc-results.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/semantic-validation-report.md
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
  docs/initiatives/active/workflow-optimization-phase-2/phases/phase-1-foundation.md
  docs/initiatives/active/workflow-optimization-phase-2/phases/phase-2-batch-optimization.md
Due: ls-lint, validate-initiatives, validate-task-format, update-machine-readable-docs

perf(workflows): self-optimize improve-prompt and improve-workflow (-45.5% combined)
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/workflows/improve-prompt.md
  .windsurf/workflows/improve-workflow.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(summaries): consolidate 2025-10-20 (7 sessions)
  docs/archive/session-summaries/2025-10-20-daily-summary.md
  docs/archive/session-summaries/2025-10-20-file-system-documentation-completion.md
  docs/archive/session-summaries/2025-10-20-machine-readable-docs-improvement.md
  docs/archive/session-summaries/2025-10-20-machine-readable-docs-lifecycle-integration.md
  docs/archive/session-summaries/2025-10-20-quality-automation-phase-1.md
  docs/archive/session-summaries/2025-10-20-workflow-task-system-v3-completion.md
  docs/archive/session-summaries/2025-10-20-workflow-task-system-v3-planning.md
  docs/archive/session-summaries/2025-10-20-workflows-v2-optimization-completion.md
Due: ls-lint

fix: correct <thinking> tag handling and update baselines
  .benchmarks/workflow-tokens-baseline.json
  .benchmarks/workflow-tokens-history.jsonl
  .markdownlint-cli2.jsonc
  .windsurf/rules/08_file_operations.md
  .windsurf/workflows/improve-prompt.md
  .windsurf/workflows/research.md
  .windsurf/workflows/work-session-protocol.md
  tests/golden/workflows/load-context.md
  tests/golden/workflows/plan.md
Due: ls-lint, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

feat(extraction): implement Phase 2 - structured action item extraction
  docs/initiatives/active/2025-10-19-session-summary-mining-advanced.md
  pyproject.toml
  scripts/extract_action_items.py
  scripts/extract_action_items.py.backup
  tests/unit/test_action_item_extraction.py
  uv.lock
Due: ls-lint, validate-initiatives

fix(security): improve OWASP LLM prompt injection detection
  docs/initiatives/active/2025-10-19-session-summary-mining-advanced.md
  pyproject.toml
  scripts/extract_action_items.py
  src/mcp_web/security.py
  tests/unit/test_action_item_extraction.py
  tests/unit/test_security.py
  uv.lock
Due: ls-lint, validate-initiatives

test: add deduplication test suite for Session Summary Mining
  scripts/extract_action_items.py
  src/mcp_web/security.py
  tests/unit/test_deduplication.py
Due: ls-lint

feat(browser-pool): implement BrowserPool for P0-STABILITY-001 fix
  src/mcp_web/browser_pool.py
  tests/unit/test_browser_pool.py
Due: ls-lint

docs(initiative): update Phase 1 with BrowserPool completion
  docs/initiatives/active/2025-10-20-phase-1-resource-stability.md
Due: ls-lint, validate-initiatives

feat(resource-stability): integrate BrowserPool + httpx singleton into fetcher
  docs/initiatives/active/2025-10-20-phase-1-resource-stability.md
  src/mcp_web/fetcher.py
  src/mcp_web/http_client.py
Due: ls-lint, validate-initiatives

fix(workflows): enforce /work orchestration stages
  .windsurf/workflows/work.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(session): add 2025-10-21 workflow fixes session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-phase1-continuation-workflow-fixes.md
Due: ls-lint

chore(benchmarks): log workflow token snapshot
  .benchmarks/workflow-tokens-history.jsonl
Due: none

feat(session-mining): Complete Phase 5 - Integration & Testing
  Taskfile.yml
  docs/initiatives/active/2025-10-19-session-summary-mining-advanced.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/initiative.md
  tests/golden/test_session_summary_extraction.py
  tests/unit/test_initiative_mapping.py
Due: ls-lint, validate-initiatives

feat(initiatives): Complete session-summary-mining-advanced and extract future work
  docs/initiatives/README.md
  docs/initiatives/active/2025-10-22-session-summary-mining-production.md
  docs/initiatives/completed/2025-10-19-session-summary-mining-advanced.md
  scripts/scaffold.py
Due: ls-lint, validate-initiatives

docs(session): add 2025-10-22 initiative completion session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-22-initiative-completion-and-workflow-automation-fixes.md
Due: ls-lint

fix(initiatives): Repair broken session-summary-mining-production initiative file
  docs/initiatives/active/2025-10-22-session-summary-mining-production.md
Due: ls-lint, validate-initiatives

fix(scaffold): Fix config mode to properly merge schema defaults and generate valid YAML frontmatter
  scripts/scaffold.py
  scripts/templates/initiative-flat.md.j2
Due: ls-lint

feat(testing): create Testing Excellence & Automation Hardening initiative
  PROJECT_SUMMARY.md
  docs/initiatives/active/2025-10-22-testing-excellence/artifacts/scripts-inventory.md
  docs/initiatives/active/2025-10-22-testing-excellence/initiative.md
  docs/initiatives/active/2025-10-22-testing-excellence/research/external-sources.md
  docs/initiatives/active/2025-10-22-testing-excellence/research/historical-issues.md
Due: ls-lint, validate-initiatives

docs(session): add Testing Excellence initiative planning summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-22-testing-excellence-initiative-planning.md
Due: ls-lint

feat(testing): add Phase 0 (Scripts Audit & Refactoring) to testing initiative
  docs/initiatives/active/2025-10-22-testing-excellence/artifacts/phase-0-scripts-audit.md
  docs/initiatives/active/2025-10-22-testing-excellence/initiative.md
Due: ls-lint, validate-initiatives

docs(session): add Phase 0 Scripts Audit planning summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-22-phase-0-scripts-audit-planning.md
Due: ls-lint

refactor(scripts): remove 3 obsolete one-time scripts
  docs/initiatives/active/2025-10-22-testing-excellence/artifacts/phase-0-scripts-audit.md
  scripts/extract_action_items.py.backup
  scripts/fix_frontmatter.py
  scripts/restore_workflows.py
Due: ls-lint, validate-initiatives

feat(scripts): create common lib module with frontmatter, validation, CLI utilities
  .gitignore
  scripts/lib/__init__.py
  scripts/lib/cli.py
  scripts/lib/frontmatter.py
  scripts/lib/validation.py
  tests/scripts/__init__.py
  tests/scripts/test_lib_cli.py
  tests/scripts/test_lib_frontmatter.py
  tests/scripts/test_lib_validation.py
Due: ls-lint

refactor(scripts): complete Phase 0 - reorganize into validation, automation, analysis
  .github/workflows/workflow-quality.yml
  .pre-commit-config.yaml
  Taskfile.yml
  scripts/README.md
  scripts/analysis/analyze_workflow_improvements.py
  scripts/analysis/benchmark_pipeline.py
  scripts/analysis/check_performance_regression.py
  scripts/analysis/check_workflow_tokens.py
  scripts/analysis/doc_coverage.py
  scripts/analysis/generate_indexes.py
  scripts/analysis/update_machine_readable_docs.py
  scripts/automation/dependency_registry.py
  scripts/automation/extract_action_items.py
  scripts/automation/file_ops.py
  scripts/automation/scaffold.py
  scripts/validation/validate_archival.py
  scripts/validation/validate_documentation.py
  scripts/validation/validate_frontmatter.py
  scripts/validation/validate_initiatives.py
  scripts/validation/validate_references.py
  scripts/validation/validate_rules_frontmatter.py
  scripts/validation/validate_task_format.py
  scripts/validation/validate_workflows.py
Due: ls-lint

fix(tests): update imports after Phase 0 scripts reorganization
  tests/golden/test_session_summary_extraction.py
  tests/test_file_ops.py
  tests/test_scaffold.py
  tests/unit/test_action_item_extraction.py
  tests/unit/test_deduplication.py
  tests/unit/test_dependency_registry.py
  tests/unit/test_initiative_mapping.py
  tests/unit/test_validate_initiatives.py
Due: ls-lint

docs(initiative): restructure Testing Excellence into separate phase files
  docs/initiatives/active/2025-10-22-testing-excellence/initiative.md
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-1-scripts-hardening.md
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-2-core-mutation-testing.md
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-3-scripts-mutation-testing.md
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-4-property-based-core.md
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-5-property-based-advanced.md
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-6-integration-e2e.md
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-7-observability.md
Due: ls-lint, validate-initiatives

docs(session): add session summary for Phase 1 import fixes
  docs/archive/session-summaries/2025-10-22-phase1-import-fixes.md
Due: ls-lint

fix(tests): resolve import paths and AsyncMock usage after Phase 0 reorganization
  tests/unit/test_browser_pool.py
  tests/unit/test_validate_references.py
  tests/unit/test_validate_task_format.py
Due: ls-lint

docs(initiative): update Phase 1 progress with Checkpoint 2
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-1-scripts-hardening.md
Due: ls-lint, validate-initiatives

feat(tests): Phase 1A - testing foundation (+27pp coverage)
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-22-phase1a-testing-foundation.md
  tests/scripts/test_analysis_scripts.py
  tests/scripts/test_file_ops.py
  tests/scripts/test_validate_archival.py
  tests/scripts/test_validate_workflows.py
Due: ls-lint

docs(initiative): add Phase 1A artifacts
  docs/initiatives/active/testing-excellence/artifacts/phase1a/PHASE_1_COMPLETION_SUMMARY.md
  docs/initiatives/active/testing-excellence/artifacts/phase1a/TESTING_GAPS.md
Due: ls-lint, validate-initiatives

fix(tests): resolve 4 failing tests in scripts suite
  scripts/validation/validate_workflows.py
  tests/scripts/test_analysis_scripts.py
  tests/scripts/test_file_ops.py
  tests/scripts/test_validate_workflows.py
Due: ls-lint

feat(tests): add Phase 1B coverage tests for validation and action items
  tests/unit/test_action_item_extraction.py
  tests/unit/test_validate_initiatives.py
Due: ls-lint

docs(initiative): update Phase 1 with Checkpoint 3 progress
  docs/initiatives/active/2025-10-22-testing-excellence/phases/phase-1-scripts-hardening.md
Due: ls-lint, validate-initiatives

docs(session): add 2025-10-22 Phase 1B test coverage summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-22-phase1b-test-coverage.md
Due: ls-lint

Path conditions:
  ls-lint: any of: \.(md|py|yml|yaml|json|toml)$
  validate-initiatives: any of: ^docs/initiatives/(active|completed)/.*\.md$
  validate-task-format: any of: ^\.(windsurf/workflows|docs/archive/session-summaries)/.*\.md$
  validate-rules-frontmatter: any of: ^\.windsurf/rules/.*\.md$
  update-machine-readable-docs: any of: ^\.windsurf/(workflows|rules)/.*\.md$
