Repository geehexx/mcp-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: ls-lint, validate-initiatives, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

Path conditions:
  ls-lint: any of: \.(md|py|yml|yaml|json|toml)$
  validate-initiatives: any of: ^docs/initiatives/(active|completed)/.*\.md$
  validate-task-format: any of: ^\.(windsurf/workflows|docs/archive/session-summaries)/.*\.md$
  validate-rules-frontmatter: any of: ^\.windsurf/rules/.*\.md$
  update-machine-readable-docs: any of: ^\.windsurf/(workflows|rules)/.*\.md$

docs(session): add workflow-optimization-phase2-tier1 session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase2-tier1-complete.md
Due: ls-lint

refactor(workflows): optimize Tier 1-2 workflows (-3,860 tokens)
  .windsurf/workflows/detect-context.md
  .windsurf/workflows/implement.md
  .windsurf/workflows/load-context.md
  .windsurf/workflows/plan.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(workflows): complete Tier 1-2 optimization + document rules issue
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/workflows/consolidate-summaries.md
  .windsurf/workflows/detect-context.md
  .windsurf/workflows/implement.md
  .windsurf/workflows/meta-analysis.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/rules-update-needed.md
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
Due: ls-lint, validate-initiatives, validate-task-format, update-machine-readable-docs

fix(workflows): remove duplicate Process heading in commit.md
  .ls-lint.yml
  .windsurf/rules/03_documentation.md
  .windsurf/rules/05_windsurf_structure.md
  .windsurf/rules/08_file_operations.md
  .windsurf/workflows/commit.md
  .windsurf/workflows/new-adr.md
  .windsurf/workflows/work-routing.md
  Taskfile.yml
Due: ls-lint, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

chore(benchmarks): update workflow token history
  .benchmarks/workflow-tokens-history.jsonl
Due: none

docs(session): add 2025-10-21 workflow optimization + rules fix session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-workflow-optimization-rules-fix-session.md
Due: ls-lint

fix(rules): separate MCP tool guidance from file operations concerns
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/rules/05_windsurf_structure.md
  .windsurf/rules/08_file_operations.md
Due: ls-lint, validate-rules-frontmatter, update-machine-readable-docs

docs(initiative): add idempotency research and implementation spec
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/idempotency-implementation-spec.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/idempotency-research.md
Due: ls-lint, validate-initiatives

feat(validation): implement full idempotency verification system
  .windsurf/.optimization-cache.json
  scripts/manage_optimization_cache.py
  scripts/test_optimization_idempotency.py
  tests/golden/test_workflow_idempotency.py
  tests/golden/workflows/detect-context.md
  tests/golden/workflows/implement.md
  tests/golden/workflows/load-context.md
  tests/golden/workflows/plan.md
Due: ls-lint

perf(workflows): optimize high-priority workflows (-3133 tokens)
  .windsurf/workflows/generate-plan.md
  .windsurf/workflows/research.md
  .windsurf/workflows/validate.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

perf(workflows): optimize medium-priority workflows (-4044 tokens)
  .windsurf/workflows/archive-initiative.md
  .windsurf/workflows/bump-version.md
  .windsurf/workflows/extract-session.md
  .windsurf/workflows/summarize-session.md
  .windsurf/workflows/update-docs.md
  .windsurf/workflows/work-session-protocol.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

style(workflows): fix markdown linting issues
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/workflows/archive-initiative.md
  .windsurf/workflows/bump-version.md
  .windsurf/workflows/commit.md
  .windsurf/workflows/extract-session.md
  .windsurf/workflows/generate-plan.md
  .windsurf/workflows/new-adr.md
  .windsurf/workflows/research.md
  .windsurf/workflows/validate.md
  .windsurf/workflows/work-routing.md
  .windsurf/workflows/work-session-protocol.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(session): add Phase 2 completion session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase2-completion.md
Due: ls-lint

docs(initiative): CRITICAL - identify Phase 2 optimization failure and create corrective action plan
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/intelligent-optimization-methodology.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-failure-analysis.md
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
Due: ls-lint, validate-initiatives

chore(meta): update meta-analysis timestamp for Phase 2 failure analysis session
  .windsurf/.last-meta-analysis
Due: none

perf(workflows): intelligent re-optimization POC (3 workflows)
  .windsurf/workflows/generate-plan.md
  .windsurf/workflows/research.md
  .windsurf/workflows/validate.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/poc-optimization-results.md
  scripts/restore_workflows.py
Due: ls-lint, validate-initiatives, validate-task-format, update-machine-readable-docs

docs(workflow-opt): Phase 1 foundation - intelligent methodology + idempotency
  docs/initiatives/active/workflow-optimization-phase-2/COMPREHENSIVE_PLAN_V3.md
  docs/initiatives/active/workflow-optimization-phase-2/NEXT_SESSION_IMPLEMENTATION_GUIDE.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/idempotency-framework-integration.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/intelligent-compression-v2.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/intelligent-optimization-methodology.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-failure-analysis.md
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
Due: ls-lint, validate-initiatives

docs(workflow-opt): add session summary + continuation prompt
  docs/archive/session-summaries/2025-10-21-workflow-optimization-intelligent-methodology.md
  docs/initiatives/active/workflow-optimization-phase-2/CONTINUATION_PROMPT.md
Due: ls-lint, validate-initiatives

feat(workflow-opt): Phase 1 completion - integrate intelligent methodology into workflows
  .windsurf/workflows/improve-prompt.md
  .windsurf/workflows/improve-workflow.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-completion-summary.md
Due: ls-lint, validate-initiatives, validate-task-format, update-machine-readable-docs

chore: update workflow token benchmarks after Phase 1 completion
  .benchmarks/workflow-tokens-history.jsonl
Due: none

style: fix markdown formatting in updated workflows
  .windsurf/workflows/improve-prompt.md
  .windsurf/workflows/improve-workflow.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-completion-summary.md
Due: ls-lint, validate-initiatives, validate-task-format, update-machine-readable-docs

feat(workflows): apply intelligent semantic preservation to bump-version.md (POC)
  .windsurf/workflows/bump-version.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/poc-results.md
Due: ls-lint, validate-initiatives, validate-task-format, update-machine-readable-docs

refactor(initiative): restructure workflow-optimization-phase-2 with phased approach
  .windsurf/rules/08_file_operations.md
  docs/initiatives/active/workflow-optimization-phase-2/COMPREHENSIVE_PLAN_V3.md
  docs/initiatives/active/workflow-optimization-phase-2/CONTINUATION_PROMPT.md
  docs/initiatives/active/workflow-optimization-phase-2/EXECUTION_PLAN.md
  docs/initiatives/active/workflow-optimization-phase-2/NEXT_SESSION_IMPLEMENTATION_GUIDE.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-comparison.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-enhanced-definition.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-final-results.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-my-edit.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-original.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-research-optimized.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-framework-integration.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-implementation-spec.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-research.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/idempotency-test-report.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/intelligent-compression-v2.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/intelligent-optimization-methodology.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/phase1-completion-summary.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase1-research/phase2-failure-analysis.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/bump-version-intelligent.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/bump-version-original.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/mechanical-vs-intelligent-comparison.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/poc-optimization-results.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/poc-results.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/phase2-poc/semantic-validation-report.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/rules-update-needed.md
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
  docs/initiatives/active/workflow-optimization-phase-2/phases/phase-1-foundation.md
  docs/initiatives/active/workflow-optimization-phase-2/phases/phase-2-batch-optimization.md
Due: ls-lint, validate-initiatives, validate-rules-frontmatter, update-machine-readable-docs

docs(initiative): add session summary and continuation prompt
  docs/initiatives/active/workflow-optimization-phase-2/CONTINUATION-PROMPT.md
  docs/initiatives/active/workflow-optimization-phase-2/SESSION-SUMMARY-2025-10-21.md
Due: ls-lint, validate-initiatives

feat(workflows): apply intelligent semantic preservation to work.md
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/workflows/work.md
  docs/initiatives/active/workflow-optimization-phase-2/CONTINUATION-PROMPT.md
  docs/initiatives/active/workflow-optimization-phase-2/SESSION-SUMMARY-2025-10-21.md
Due: ls-lint, validate-initiatives, validate-task-format, update-machine-readable-docs

feat(workflows): apply intelligent semantic preservation to detect-context.md
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/workflows/detect-context.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): apply intelligent semantic preservation to implement.md
  .windsurf/workflows/implement.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): apply intelligent semantic preservation to validate.md
  .windsurf/workflows/validate.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): apply intelligent semantic preservation to research.md
  .windsurf/workflows/research.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): apply intelligent semantic preservation to generate-plan.md
  .windsurf/workflows/generate-plan.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): batch optimize 5 remaining medium-priority workflows
  .windsurf/workflows/load-context.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(session): add 2025-10-21 workflow optimization sessions 1-2 summary
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase2-sessions1-2.md
Due: ls-lint

feat(workflows): apply intelligent semantic preservation to Batch 1 workflows
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/workflows/detect-context.md
  .windsurf/workflows/implement.md
  .windsurf/workflows/work.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): correct frontmatter token counts for Batch 1 Part 2
  .windsurf/workflows/research.md
  .windsurf/workflows/validate.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

fix(workflows): restore Batch 1 workflows to baseline (lost context in v2.0 optimization)
  .windsurf/workflows/detect-context.md
  .windsurf/workflows/implement.md
  .windsurf/workflows/research.md
  .windsurf/workflows/validate.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(workflow-opt): add mandatory restoration protocol to prevent context loss
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/RESTORATION_PROTOCOL.md
Due: ls-lint, validate-initiatives

feat(workflows): integrate RESTORATION_PROTOCOL into optimization workflows
  .windsurf/workflows/improve-prompt.md
  .windsurf/workflows/improve-workflow.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/RESTORATION_INTEGRATION_REPORT.md
Due: ls-lint, validate-initiatives, validate-task-format, update-machine-readable-docs

docs(initiative): add RESTORATION_PROTOCOL integration milestone
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
Due: ls-lint, validate-initiatives

perf(workflows): optimize Batch 1 admin workflows (3)
  .windsurf/workflows/archive-initiative.md
  .windsurf/workflows/commit.md
  .windsurf/workflows/new-adr.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

perf(workflows): optimize Batch 2 summary workflows (3)
  .windsurf/workflows/consolidate-summaries.md
  .windsurf/workflows/extract-session.md
  .windsurf/workflows/summarize-session.md
Due: ls-lint, validate-task-format, update-machine-readable-docs
