Repository geehexx/mcp-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: ls-lint, validate-initiatives, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

ls-lint:
  name: 📁 files · Validate naming conventions (ls-lint)
  entry: npx @ls-lint/ls-lint
  language: system
  pass_filenames: false
  always_run: false

validate-initiatives:
  name: 📋 initiatives · Validate initiative files
  entry: uv run python scripts/validate_initiatives.py
  language: system
  pass_filenames: false
  args:
  - --ci

validate-task-format:
  name: 📋 tasks · Validate task format in documentation
  entry: uv run python scripts/hooks/validate_task_format_hook.py
  language: system
  args:
  - --skip-non-md

validate-rules-frontmatter:
  name: 📋 rules · Validate Windsurf rules front-matter
  entry: uv run python scripts/validate_rules_frontmatter.py
  language: system
  pass_filenames: false

update-machine-readable-docs:
  name: 📚 docs · Update machine-readable documentation
  entry: uv run python scripts/update_machine_readable_docs.py
  language: system
  pass_filenames: false

docs(initiative): mark Phase 1 complete for session summary mining
  docs/initiatives/active/2025-10-19-session-summary-mining-advanced.md
Due: ls-lint, validate-initiatives

feat(initiatives): Create comprehensive 4-phase technical roadmap
  PROJECT_SUMMARY.md
  docs/archive/research/TECHNICAL_ROADMAP_ANALYSIS_2025_10_20.md
  docs/initiatives/active/2025-10-20-phase-0-security-hardening.md
  docs/initiatives/active/2025-10-20-phase-1-resource-stability.md
  docs/initiatives/active/2025-10-20-phase-2-data-integrity.md
  docs/initiatives/active/2025-10-20-phase-3-performance-optimization.md
Due: ls-lint, validate-initiatives

fix(windsurf): migrate frontmatter to minimal Windsurf-compatible format
  .windsurf/docs/FRONTMATTER_MIGRATION_2025-10-20.md
  .windsurf/docs/directory-structure.md
  .windsurf/docs/frontmatter-specification.md
  .windsurf/rules/00_agent_directives.md
  .windsurf/rules/01_testing_and_tooling.md
  .windsurf/rules/02_python_standards.md
  .windsurf/rules/03_documentation_lifecycle.md
  .windsurf/rules/04_security.md
  .windsurf/rules/05_operational_protocols.md
  .windsurf/rules/06_context_engineering.md
  .windsurf/rules/07_task_system.md
  .windsurf/schemas/frontmatter-schema.json.backup
  .windsurf/schemas/frontmatter-schema.json.deprecated
  .windsurf/workflows/archive-initiative.md
  .windsurf/workflows/bump-version.md
  .windsurf/workflows/commit.md
  .windsurf/workflows/consolidate-summaries.md
  .windsurf/workflows/detect-context.md
  .windsurf/workflows/extract-session.md
  .windsurf/workflows/generate-plan.md
  .windsurf/workflows/implement.md
  .windsurf/workflows/load-context.md
  .windsurf/workflows/meta-analysis.md
  .windsurf/workflows/new-adr.md
  .windsurf/workflows/plan.md
  .windsurf/workflows/research.md
  .windsurf/workflows/summarize-session.md
  .windsurf/workflows/update-docs.md
  .windsurf/workflows/validate.md
  .windsurf/workflows/work-routing.md
  .windsurf/workflows/work-session-protocol.md
  .windsurf/workflows/work.md
  scripts/fix_frontmatter.py
  scripts/validate_frontmatter.py
  scripts/validate_rules_frontmatter.py
  scripts/validate_workflows.py
Due: ls-lint, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

Revert "fix(windsurf): migrate frontmatter to minimal Windsurf-compatible format"
  .windsurf/docs/FRONTMATTER_MIGRATION_2025-10-20.md
  .windsurf/docs/directory-structure.md
  .windsurf/docs/frontmatter-specification.md
  .windsurf/rules/00_agent_directives.md
  .windsurf/rules/01_testing_and_tooling.md
  .windsurf/rules/02_python_standards.md
  .windsurf/rules/03_documentation_lifecycle.md
  .windsurf/rules/04_security.md
  .windsurf/rules/05_operational_protocols.md
  .windsurf/rules/06_context_engineering.md
  .windsurf/rules/07_task_system.md
  .windsurf/schemas/frontmatter-schema.json
  .windsurf/schemas/frontmatter-schema.json.deprecated
  .windsurf/workflows/archive-initiative.md
  .windsurf/workflows/bump-version.md
  .windsurf/workflows/commit.md
  .windsurf/workflows/consolidate-summaries.md
  .windsurf/workflows/detect-context.md
  .windsurf/workflows/extract-session.md
  .windsurf/workflows/generate-plan.md
  .windsurf/workflows/implement.md
  .windsurf/workflows/load-context.md
  .windsurf/workflows/meta-analysis.md
  .windsurf/workflows/new-adr.md
  .windsurf/workflows/plan.md
  .windsurf/workflows/research.md
  .windsurf/workflows/summarize-session.md
  .windsurf/workflows/update-docs.md
  .windsurf/workflows/validate.md
  .windsurf/workflows/work-routing.md
  .windsurf/workflows/work-session-protocol.md
  .windsurf/workflows/work.md
  scripts/fix_frontmatter.py
  scripts/validate_frontmatter.py
  scripts/validate_rules_frontmatter.py
  scripts/validate_workflows.py
Due: ls-lint, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

docs(initiative): mark windsurf rules revamp as completed
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/initiative.md
Due: ls-lint, validate-initiatives

fix(windsurf): complete cleanup and validation fixes
  .benchmarks/workflow-tokens-history.jsonl
  .pre-commit-config.yaml
  .windsurf/.doc-hashes.json
  .windsurf/docs/README.md
  .windsurf/rules/00_core_directives.md
  .windsurf/rules/01_python_code.md
  .windsurf/rules/02_testing.md
  .windsurf/rules/03_documentation.md
  .windsurf/rules/04_config_files.md
  .windsurf/rules/05_windsurf_structure.md
  .windsurf/rules/06_security_practices.md
  .windsurf/rules/07_context_optimization.md
  .windsurf/rules/08_file_operations.md
  .windsurf/rules/09_git_workflows.md
  .windsurf/rules/10_session_protocols.md
  .windsurf/rules/11_error_handling.md
  .windsurf/rules/12_task_orchestration.md
  .windsurf/rules/13_workflow_routing.md
  .windsurf/rules/14_automation_scripts.md
  .windsurf/rules/15_tool_patterns.md
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/analysis.md
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/design-v1.md
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/design-v2.md
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/fix_12_task.py
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/generate_new_rules.py
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/implementation-plan.md
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/populate_rules_full.py
  docs/initiatives/active/2025-10-21-windsurf-rules-revamp/populate_rules_part2.py
  scripts/validate_frontmatter.py
  scripts/validate_workflows.py
Due: ls-lint, validate-initiatives, validate-rules-frontmatter, update-machine-readable-docs

docs(session): add session summary for Windsurf rules revamp
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/.doc-hashes.json
  docs/archive/session-summaries/2025-10-21-windsurf-rules-revamp.md
  scripts/validate_frontmatter.py
  scripts/validate_workflows.py
Due: ls-lint

fix(windsurf): correct glob format to UNQUOTED per Windsurf spec
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/rules/01_python_code.md
  .windsurf/rules/02_testing.md
  .windsurf/rules/03_documentation.md
  .windsurf/rules/04_config_files.md
  .windsurf/rules/05_windsurf_structure.md
  docs/archive/session-summaries/2025-10-21-windsurf-rules-revamp.md
  scripts/validate_rules_frontmatter.py
Due: ls-lint, validate-rules-frontmatter, update-machine-readable-docs

chore(windsurf): complete rules revamp follow-up items
  .windsurf/rules/00_core_directives.md
  .windsurf/rules/05_windsurf_structure.md
  .windsurf/rules/11_error_handling.md
  .windsurf/rules/15_tool_patterns.md
  .windsurf/workflows/archive-initiative.md
  .windsurf/workflows/consolidate-summaries.md
  docs/archive/session-summaries/2025-10-21-windsurf-rules-complete.md
  docs/archive/session-summaries/2025-10-21-windsurf-rules-revamp.md
  docs/initiatives/README.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/analysis.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/design-v1.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/design-v2.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/fix_12_task.py
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/generate_new_rules.py
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/implementation-plan.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/initiative.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/populate_rules_full.py
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/populate_rules_part2.py
Due: ls-lint, validate-initiatives, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

chore(benchmark): update workflow token history
  .benchmarks/workflow-tokens-history.jsonl
Due: none

chore(initiatives): cleaned up artifacts incorrectly created in initiative root folder
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/artifacts/analysis.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/artifacts/design-v1.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/artifacts/design-v2.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/artifacts/fix_12_task.py
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/artifacts/generate_new_rules.py
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/artifacts/implementation-plan.md
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/artifacts/populate_rules_full.py
  docs/initiatives/completed/2025-10-21-windsurf-rules-revamp/artifacts/populate_rules_part2.py
Due: ls-lint, validate-initiatives

docs: fix markdown quality issues and broken links
  .windsurf/rules/00_core_directives.md
  .windsurf/rules/08_file_operations.md
  .windsurf/rules/09_git_workflows.md
  AGENTS.md
  README.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/initiatives/active/2025-10-20-phase-0-security-hardening.md
  docs/initiatives/active/2025-10-20-phase-1-resource-stability.md
  docs/initiatives/active/2025-10-20-phase-2-data-integrity.md
  docs/initiatives/active/2025-10-20-phase-3-performance-optimization.md
  tests/test_markdown_quality.py
Due: ls-lint, validate-initiatives, validate-rules-frontmatter, update-machine-readable-docs

docs(session): add 2025-10-21 markdown quality fixes session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-markdown-quality-fixes.md
Due: ls-lint

fix(docs): resolve markdown linting and validation issues
  .benchmarks/workflow-tokens-baseline.json
  .benchmarks/workflow-tokens-history.jsonl
  .pre-commit-config.yaml
  .windsurf/rules/00_core_directives.md
  .windsurf/rules/01_python_code.md
  .windsurf/rules/05_windsurf_structure.md
  .windsurf/rules/15_tool_patterns.md
  .windsurf/workflows/archive-initiative.md
  .windsurf/workflows/bump-version.md
  .windsurf/workflows/commit.md
  .windsurf/workflows/consolidate-summaries.md
  .windsurf/workflows/detect-context.md
  .windsurf/workflows/extract-session.md
  .windsurf/workflows/generate-plan.md
  .windsurf/workflows/implement.md
  .windsurf/workflows/load-context.md
  .windsurf/workflows/meta-analysis.md
  .windsurf/workflows/new-adr.md
  .windsurf/workflows/plan.md
  .windsurf/workflows/research.md
  .windsurf/workflows/summarize-session.md
  .windsurf/workflows/update-docs.md
  .windsurf/workflows/validate.md
  .windsurf/workflows/work-routing.md
  .windsurf/workflows/work-session-protocol.md
  .windsurf/workflows/work.md
  docs/adr/0018-workflow-architecture-v3.md
  docs/archive/session-summaries/2025-10-21-windsurf-rules-complete.md
  docs/guides/ADAPTIVE_TASK_PLANNING.md
  docs/guides/WORKFLOW_MIGRATION_CHECKLIST.md
  docs/initiatives/completed/2025-10-20-workflow-task-system-v3.md
  scripts/check_workflow_tokens.py
Due: ls-lint, validate-initiatives, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

docs(session): add 2025-10-21 markdown validation fixes session summary
  .benchmarks/workflow-tokens-baseline.json
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-markdown-validation-fixes-continuation.md
Due: ls-lint

fix: restore Windsurf globs format and update validation script
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/rules/01_python_code.md
  scripts/validate_workflows.py
Due: ls-lint, validate-rules-frontmatter, update-machine-readable-docs

feat: implement Phase 2 content-based summarization caching
  docs/initiatives/active/2025-10-15-performance-optimization-pipeline/initiative.md
  src/mcp_web/cache.py
  src/mcp_web/mcp_server.py
  src/mcp_web/summarizer.py
  tests/benchmarks/test_performance.py
  tests/unit/test_summarizer_caching.py
Due: ls-lint, validate-initiatives

docs: complete Phase 2 documentation and mark initiative as finished
  docs/adr/0022-content-based-summarization-caching.md
  docs/initiatives/active/2025-10-15-performance-optimization-pipeline/initiative.md
  docs/initiatives/active/2025-10-15-performance-optimization-pipeline/phases/phase-2-advanced-optimizations.md
Due: ls-lint, validate-initiatives

chore: archive completed performance optimization initiative
  docs/initiatives/README.md
  docs/initiatives/completed/2025-10-15-performance-optimization-pipeline/artifacts/research-summary.md
  docs/initiatives/completed/2025-10-15-performance-optimization-pipeline/initiative.md
  docs/initiatives/completed/2025-10-15-performance-optimization-pipeline/phases/phase-1-foundation-quick-wins.md
  docs/initiatives/completed/2025-10-15-performance-optimization-pipeline/phases/phase-2-advanced-optimizations.md
  docs/initiatives/completed/2025-10-18-markdown-quality-comprehensive-fix/artifacts/manual-fixes-plan.md
Due: ls-lint, validate-initiatives

docs: add session summary for performance optimization completion
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-performance-optimization-complete.md
Due: ls-lint

feat(security): implement Phase 0 security hardening
  SECURITY.md
  docs/adr/0019-pattern-based-prompt-injection-detection.md
  docs/initiatives/active/2025-10-20-phase-0-security-hardening.md
  src/mcp_web/auth.py
  src/mcp_web/security.py
  tests/security/test_auth.py
  tests/security/test_owasp_llm_top10.py
Due: ls-lint, validate-initiatives

docs: complete and archive Phase 0 Security Hardening initiative
  PROJECT_SUMMARY.md
  docs/initiatives/README.md
  docs/initiatives/completed/2025-10-20-phase-0-security-hardening.md
Due: ls-lint, validate-initiatives

fix(docs): resolve duplicate ADR-0019 issue
  docs/adr/0023-pattern-based-prompt-injection-detection.md
  docs/initiatives/completed/2025-10-20-phase-0-security-hardening.md
  src/mcp_web/auth.py
  tests/test_adr_validation.py
Due: ls-lint, validate-initiatives

feat(workflows): add /improve-prompt optimization workflow
  .windsurf/workflows/improve-prompt.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): enhance /improve-prompt for LLM-agnostic optimization
  .windsurf/workflows/improve-prompt.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): add dynamic conciseness and workflow optimization
  .windsurf/workflows/improve-prompt.md
  .windsurf/workflows/improve-workflow.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(scripts): add workflow improvement analysis tool
  .windsurf/workflow-improvement-analysis.json
  scripts/analyze_workflow_improvements.py
Due: ls-lint

fix(initiative): remove bold formatting from decision statement
  docs/initiatives/active/workflow-optimization-phase-2/EXECUTION_PLAN.md
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
Due: ls-lint, validate-initiatives

docs(summary): record workflow optimization phase 2 planning session
  docs/archive/session-summaries/2025-10-21-workflow-optimization-phase-2-plan.md
Due: ls-lint

feat(workflows): enhance improve-prompt with learned optimization methodologies
  .windsurf/workflows/improve-prompt.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

feat(workflows): self-optimize improve-prompt workflow (v2.0)
  .windsurf/workflows/improve-prompt.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(initiative): comprehensive meta-optimization update with archived artifacts
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-comparison.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-enhanced-definition.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-final-results.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-my-edit.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-original.md
  docs/initiatives/active/workflow-optimization-phase-2/artifacts/improve-prompt-research-optimized.md
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
Due: ls-lint, validate-initiatives

docs(session): meta-optimization breakthrough session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-21-meta-optimization-breakthrough.md
Due: ls-lint

perf(workflows): partial optimization of consolidate-summaries (in progress)
  .windsurf/workflows/consolidate-summaries.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

perf(workflows): complete consolidate-summaries optimization (v2.4.0)
  .windsurf/workflows/consolidate-summaries.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

perf(workflows): optimize meta-analysis.md (v2.1.0)
  .windsurf/workflows/meta-analysis.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

perf(workflows): partial optimization of implement.md
  .windsurf/workflows/implement.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

perf(workflows): optimize improve-workflow.md token count
  .windsurf/workflows/improve-workflow.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(initiative): update workflow-optimization-phase-2 with session 2 results
  .benchmarks/workflow-tokens-history.jsonl
  docs/initiatives/active/workflow-optimization-phase-2/initiative.md
Due: ls-lint, validate-initiatives

Path conditions:
  ls-lint: any of: \.(md|py|yml|yaml|json|toml)$
  validate-initiatives: any of: ^docs/initiatives/(active|completed)/.*\.md$
  validate-task-format: any of: ^\.(windsurf/workflows|docs/archive/session-summaries)/.*\.md$
  validate-rules-frontmatter: any of: ^\.windsurf/rules/.*\.md$
  update-machine-readable-docs: any of: ^\.windsurf/(workflows|rules)/.*\.md$
