Repository geehexx/mcp-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: ls-lint, validate-initiatives, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

ls-lint:
  name: 📁 files · Validate naming conventions (ls-lint)
  entry: npx @ls-lint/ls-lint
  language: system
  pass_filenames: false
  always_run: false

validate-initiatives:
  name: 📋 initiatives · Validate initiative files
  entry: uv run python scripts/validate_initiatives.py
  language: system
  pass_filenames: false
  args:
  - --ci

validate-task-format:
  name: 📋 tasks · Validate task format in documentation
  entry: uv run python scripts/hooks/validate_task_format_hook.py
  language: system
  args:
  - --skip-non-md

validate-rules-frontmatter:
  name: 📋 rules · Validate Windsurf rules front-matter
  entry: uv run python scripts/validate_rules_frontmatter.py
  language: system
  pass_filenames: false

update-machine-readable-docs:
  name: 📚 docs · Update machine-readable documentation
  entry: uv run python scripts/update_machine_readable_docs.py
  language: system
  pass_filenames: false

docs(session): add meta-analysis summary for documentation lifecycle integration
  docs/archive/session-summaries/2025-10-20-machine-readable-docs-lifecycle-integration.md
Due: ls-lint

chore: update meta-analysis timestamp
  .windsurf/.last-meta-analysis
Due: none

docs(windsurf): improve machine-readable documentation quality and conciseness
  .windsurf/docs/batch-operations.md
  .windsurf/docs/context-loading-patterns.md
  .windsurf/docs/error-handling-patterns.md
  .windsurf/docs/index.md
  .windsurf/docs/task-system-reference.md
  .windsurf/docs/tool-patterns.md
Due: ls-lint

docs(session): add meta-analysis summary for machine-readable docs improvement
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-20-machine-readable-docs-improvement.md
Due: ls-lint

feat(workflows): complete Workflows V2 Optimization initiative (Phases 5-8)
  .benchmarks/workflow-tokens-baseline.json
  .benchmarks/workflow-tokens-history.jsonl
  .github/workflows/workflow-quality.yml
  .pre-commit-config.yaml
  docs/CONSTITUTION.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/guides/WORKFLOW_V2_MIGRATION.md
  docs/initiatives/active/2025-10-17-windsurf-workflows-v2-optimization/initiative.md
  scripts/check_workflow_tokens.py
  scripts/validate_workflows.py
Due: ls-lint, validate-initiatives

chore(initiatives): archive completed Workflows V2 Optimization initiative
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/artifacts/.markdownlint.json
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/artifacts/codemap-analysis-2025-10-19.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/artifacts/codemap-validation-summary-2025-10-19.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/artifacts/comprehensive-action-plan.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/artifacts/research-verification-and-gap-analysis.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/artifacts/rules-system-analysis-2025-10-19.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/initiative.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/.markdownlint.json
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-1-research-analysis.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-2-workflow-naming.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-3-token-optimization.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-4-workflow-decomposition.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-5-yaml-frontmatter.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-6-automation-workflows.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-7-documentation-migration.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-8-quality-automation.md
  docs/initiatives/completed/2025-10-17-windsurf-workflows-v2-optimization/phases/phase-9-advanced-context-engineering.md
Due: ls-lint, validate-initiatives

docs(session): add meta-analysis summary for Workflows V2 Optimization completion
  docs/archive/session-summaries/2025-10-20-workflows-v2-optimization-completion.md
Due: ls-lint

docs(session): update meta-analysis with final content
  docs/archive/session-summaries/2025-10-20-workflows-v2-optimization-completion.md
Due: ls-lint

feat(automation): improve AI agent script discovery and usage
  .windsurf/.context.md
  .windsurf/docs/automation-scripts.md
  .windsurf/docs/tool-patterns.md
  .windsurf/rules/00_agent_directives.md
  .windsurf/workflows/archive-initiative.md
Due: ls-lint, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

chore: update auto-generated docs and fix .context.md markdown
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/.context.md
  .windsurf/.doc-hashes.json
  .windsurf/docs/automation-scripts.md
Due: ls-lint

feat(automation): comprehensive script usage improvements for AI agents
  .windsurf/.context.md
  .windsurf/docs/automation-scripts.md
  .windsurf/docs/tool-patterns.md
  .windsurf/rules/00_agent_directives.md
  Taskfile.yml
  scripts/templates/configs/adr-default.yaml
  scripts/templates/configs/initiative-default.yaml
  scripts/templates/configs/summary-default.yaml
Due: ls-lint, validate-rules-frontmatter, update-machine-readable-docs

chore: update auto-generated docs and benchmarks
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/.doc-hashes.json
  .windsurf/docs/automation-scripts.md
  Taskfile.yml
Due: ls-lint

docs: comprehensive documentation validation and consistency updates
  .markdownlint-cli2.jsonc
  Taskfile.yml
  docs/DOCUMENTATION_STRUCTURE.md
  docs/adr/README.md
  docs/initiatives/completed/2025-10-19-workflow-transparency-improvements.md
  scripts/validate_documentation.py
Due: ls-lint, validate-initiatives

feat(quality): add internal markdown link validation tool
  .pre-commit-config.yaml
  Taskfile.yml
  docs/initiatives/active/2025-10-19-quality-automation-and-monitoring.md
  scripts/validate_references.py
  tests/unit/test_validate_references.py
Due: ls-lint, validate-initiatives

docs(initiative): update Quality Automation status - Phase 1 complete
  docs/initiatives/active/2025-10-19-quality-automation-and-monitoring.md
Due: ls-lint, validate-initiatives

docs(session): Quality Automation Phase 1 - comprehensive session summary
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-20-quality-automation-phase-1.md
Due: ls-lint

feat(quality): implement performance regression testing (Phase 2)
  .benchmarks/baseline.json
  .github/workflows/performance-regression.yml
  .pre-commit-config.yaml
  Taskfile.yml
  docs/guides/PERFORMANCE_TESTING.md
  docs/initiatives/active/2025-10-19-quality-automation-and-monitoring.md
  scripts/check_performance_regression.py
  tests/benchmarks/test_performance.py
Due: ls-lint, validate-initiatives

feat(quality): implement security automation in CI (Phase 3)
  .bandit
  .github/workflows/security-scanning.yml
  .semgrep.yml
  docs/initiatives/active/2025-10-19-quality-automation-and-monitoring.md
Due: ls-lint, validate-initiatives

feat(quality): complete documentation coverage and initiative (Phases 4-5)
  Taskfile.yml
  docs/initiatives/completed/2025-10-19-quality-automation-and-monitoring.md
  scripts/doc_coverage.py
Due: ls-lint, validate-initiatives

docs(initiative): create workflow/task system v3 improvement plan
  docs/initiatives/active/2025-10-20-workflow-task-system-v3.md
Due: ls-lint, validate-initiatives

docs(session): add 2025-10-20 workflow/task system v3 planning summary
  .windsurf/.last-meta-analysis
  PROJECT_SUMMARY.md
  docs/archive/session-summaries/2025-10-20-workflow-task-system-v3-planning.md
Due: ls-lint

feat(workflows): implement adaptive dynamic planning and fix archive script
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/.doc-hashes.json
  .windsurf/rules/07_task_system.md
  scripts/file_ops.py
Due: ls-lint, validate-rules-frontmatter, update-machine-readable-docs

docs(workflows): add comprehensive adaptive planning guide
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/.doc-hashes.json
  docs/guides/ADAPTIVE_TASK_PLANNING.md
  docs/initiatives/active/2025-10-20-workflow-task-system-v3.md
Due: ls-lint, validate-initiatives

feat(workflows): complete workflow task system v3 initiative
  .windsurf/rules/07_task_system.md
  docs/guides/ADAPTIVE_TASK_PLANNING.md
  docs/guides/WORKFLOW_MIGRATION_CHECKLIST.md
  docs/initiatives/active/2025-10-20-workflow-task-system-v3.md
Due: ls-lint, validate-initiatives, validate-rules-frontmatter, update-machine-readable-docs

chore: archive completed workflow task system v3 initiative
  PROJECT_SUMMARY.md
  docs/archive/session-summaries/2025-10-20-workflow-task-system-v3-planning.md
  docs/guides/ADAPTIVE_TASK_PLANNING.md
  docs/guides/WORKFLOW_MIGRATION_CHECKLIST.md
  docs/initiatives/README.md
  docs/initiatives/completed/2025-10-20-workflow-task-system-v3.md
Due: ls-lint, validate-initiatives

fix: remove trailing whitespace, mark phase 7 complete
  docs/initiatives/completed/2025-10-20-workflow-task-system-v3.md
Due: ls-lint, validate-initiatives

fix(protocols): resolve meta-analysis invocation gap and complete session end protocol
  .windsurf/.last-meta-analysis
  docs/archive/session-summaries/2025-10-20-workflow-task-system-v3-completion.md
  docs/guides/SESSION_END_PROTOCOL_CHECKLIST.md
Due: ls-lint

fix(agent): clarify workflow invocation vs script execution in agent rules
  .windsurf/rules/05_operational_protocols.md
  .windsurf/workflows/work-session-protocol.md
  docs/guides/SESSION_END_PROTOCOL_CHECKLIST.md
Due: ls-lint, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

docs(summaries): consolidate 13 session summaries from 2025-10-19 into daily summary
  docs/archive/session-summaries/2025-10-19-cleanup-and-refinement-completion.md
  docs/archive/session-summaries/2025-10-19-codemap-validation-acf-enforcement.md
  docs/archive/session-summaries/2025-10-19-consolidated-daily-summary.md
  docs/archive/session-summaries/2025-10-19-devcontainer-and-directory-restructure.md
  docs/archive/session-summaries/2025-10-19-initiative-lifecycle-complete.md
  docs/archive/session-summaries/2025-10-19-initiative-phases-3-4-implementation.md
  docs/archive/session-summaries/2025-10-19-initiative-system-validation-fixes.md
  docs/archive/session-summaries/2025-10-19-rules-validation-refactoring.md
  docs/archive/session-summaries/2025-10-19-session-summary-consolidation-completion.md
  docs/archive/session-summaries/2025-10-19-task-system-fix-session.md
  docs/archive/session-summaries/2025-10-19-task-system-validation-complete.md
  docs/archive/session-summaries/2025-10-19-task-system-violations-analysis.md
  docs/archive/session-summaries/2025-10-19-workflow-task-system-completion.md
  docs/archive/session-summaries/2025-10-19-workflow-transparency-initiative-completion.md
Due: ls-lint

fix(docs): remove trailing whitespace and fix broken links in rules and workflows
  .benchmarks/workflow-tokens-history.jsonl
  .windsurf/rules/03_documentation_lifecycle.md
  .windsurf/rules/05_operational_protocols.md
  .windsurf/rules/06_context_engineering.md
  .windsurf/workflows/work-session-protocol.md
Due: ls-lint, validate-task-format, validate-rules-frontmatter, update-machine-readable-docs

feat(fetcher): add file system support for file:// URLs and local paths
  .benchmarks/workflow-tokens-history.jsonl
  src/mcp_web/config.py
  src/mcp_web/extractor.py
  src/mcp_web/fetcher.py
  tests/integration/test_filesystem_pipeline.py
  tests/unit/test_fetcher_filesystem.py
Due: ls-lint

docs(initiative): update MCP file system support initiative - phases 1-3 complete
  docs/initiatives/active/2025-10-19-mcp-file-system-support.md
Due: ls-lint, validate-initiatives

docs(file-system): complete Phase 4 documentation for file system support
  README.md
  docs/api/API.md
  docs/architecture/SECURITY_ARCHITECTURE.md
  docs/initiatives/README.md
  docs/initiatives/completed/2025-10-19-mcp-file-system-support.md
Due: ls-lint, validate-initiatives

docs(session): add session summary for file system documentation completion
  docs/archive/session-summaries/2025-10-20-file-system-documentation-completion.md
Due: ls-lint

chore: release version 0.2.0 with file system support
  PROJECT_SUMMARY.md
  README.md
  docs/reference/CHANGELOG.md
  pyproject.toml
Due: ls-lint

fix(docs): correct CHANGELOG.md path references to docs/reference/
  .windsurf/workflows/load-context.md
  CONTRIBUTING.md
Due: ls-lint, validate-task-format, update-machine-readable-docs

docs(changelog): clean up unreleased section - move items to 0.1.0
  docs/reference/CHANGELOG.md
Due: ls-lint

chore: update benchmarks and lock file
  .benchmarks/workflow-tokens-history.jsonl
  uv.lock
Due: none

feat(mining): implement Phase 1 MCP integration for session summary extraction
  scripts/extract_action_items.py
  src/mcp_web/mcp_server.py
  tests/integration/test_file_summarization_mcp.py
Due: ls-lint

Path conditions:
  ls-lint: any of: \.(md|py|yml|yaml|json|toml)$
  validate-initiatives: any of: ^docs/initiatives/(active|completed)/.*\.md$
  validate-task-format: any of: ^\.(windsurf/workflows|docs/archive/session-summaries)/.*\.md$
  validate-rules-frontmatter: any of: ^\.windsurf/rules/.*\.md$
  update-machine-readable-docs: any of: ^\.windsurf/(workflows|rules)/.*\.md$
